
body {
    padding-top: 20px;
    background-color: #316a9e;
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: Cascadia Code, Consolas, monospace;
    font-size: 14px;
    justify-content: center;

}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
   ;
    border: black solid 2px;
    border-radius: 10px;
    text-align: center;
    width: 800px;
    min-width: auto;
    height: 400px;
    max-height: max-content;
    padding: 1rem;
    background-color: #e9e6e6;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}


h1 {
    margin-bottom: 10px;
    color: blue;
}

.flash {
    width: 100;
    padding: 5px;
}

.flash > .error {
    border: 3px solid red;
    background-color: #ff440070;
}

.flash > .success {
    border: 3px solid green;
    background-color: #acff2f70;
}

.flash > .info{
    border: 3px solid blue;
    background-color: #0000ff6e;
}