{% extends "layout.html" %}
{% block title %}Consultas{% endblock %}
{% block head %} {{super()}} {% endblock %}
{% block content %}
<h1>Consultas</h1>

<table class="index-table box">
  <thead>
    <tr>
      <th>#</th>
      <th>Email</th>
      <th>Titulo</th>
      <th>Descripción</th>
      <th>Estado</th>
      <th>Etiquetas</th>
    </tr>
  </thead>
  <tbody>
    {% for issue in issues %}
    <tr>
      <td>{{ issue.id }}</td>
      <td>{{ issue.email }}</td>
      <td>{{ issue.title }}</td>
      <td>{{ issue.description }}</td>
      <td>{{ issue.status }}</td>
      <td>
        {% for label in issue.labels %}
        {{ label.title }}
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
<a href="{{url_for('home')}}">Volver al Inicio</a>
{% endblock %}